{% load static %}

<div class="container-fluid bg-dark" ">
        <div class="container text-white" id="footer">
          <div class="row">
            <div class="col">
              <h2>Contact</h2>
              <p><a href="https://api.whatsapp.com/send?phone=6285351196080"><img src="{% static 'img/wa.png' %}" width="20px" alt=""> > Whatsapp</a></p>
              <p><a href="https://web.facebook.com/ahas.septianto"><img src="{% static 'img/fb.jpg' %}" width="20px" alt=""> > Facebook</a></p>
              <p><a href="https://www.instagram.com/ahasseptianto/?hl=id"><img src="{% static 'img/ig.png' %}" width="20px" alt=""> > Instagram</a></p>
              <p><a href="https://www.youtube.com/channel/UCBujDgCuS_0KkbDM5ZK-sxA"><img src="{% static 'img/yt.png' %}" width="20px" alt=""> > Youtube</a></p>
            </div>
            <div class="col">
              <h2>Referensi</h2>
              <p><a href="https://www.w3schools.com/">> W3school</a></p>
              <p><a href="https://www.tutorialspoint.com/index.htm">> TutorialsPoint</a></p>
              <p><a href="https://www.duniailkom.com/">> Duniailkom</a></p>
              <p><a href="https://www.youtube.com/channel/UCnrZ-UFSzeMSxKx_OHtwKsQ">> Kelas Terbuka</a></p>
            </div>
          </div>
        </div>
      </div>